.deviceAdmin {
  width: 100%;
  background: var(--secondaryBackgroundColor);
  margin-left: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .deviceAdmin {
    margin-left: 0px;
  }
}

.deviceContainer {
  background: var(--primaryBackgroundColor);
  width: 90%;
  border-radius: 15px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.dc_header {
  border-bottom: solid;
  border-color: #ececed;
}

.dc_headerText {
  font-size: 25px;
  padding-left: 15px;
  color: var(--primaryTextColor)
}

@media only screen and (max-width: 850px) {
  .dc_headerText {
    font-size: 18px;
  }
}

.device {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.device_left {
  display: flex;
  color: var(--primaryTextColor);
  width: 40%;
  /* padding-left: 10px; */
  justify-content: space-between;
}
.device_right {
  display: flex;
  color: var(--primaryTextColor);
  width: 40%;
  /* padding-right: 10px; */
  justify-content: space-between;
}

.device_text {
  margin: auto;
  text-align: left;
  width: 20%;
}

@media only screen and (max-width: 850px) {
  .device_text {
    font-size: 12px;
  }
  .blueText {
    font-size: 12px;
  }
}

.blueText {
  color: #36d1dc;
}

.redText {
  color: #ef0000;
}
.greenText {
  color: #50c82a;
}

.dc_buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dc_button {
  width: 80px;
  height: 50px;
  background: #36d1dc;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.dc_icon {
  width: 40px !important;
  height: 40px !important;
}
