.statsAdmin {
  width: 100%;
  background: var(--secondaryBackgroundColor);
  margin-left: 290px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .statsAdmin {
    margin-left: 0px;
  }

  .statCard {
    margin: 15px;
    width: 90%;
    height: 220px;
  }
}

.statsGrid {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.statCardMedium{
    background: var(--primaryBackgroundColor);
    border-radius: 15px;
    margin: 15px;
    width: 65%;
    height: 320px;

}


.smallstatcardtext{
    display: flex;
    flex-direction: column;
    color: var(--primaryTextColor);
    text-align: center;
    justify-content: center;
    margin-right: 30px;
}

.statsIcon{
    width: 70px !important;
    height: 70px !important;
}

.Statsmalls{
    width: 30%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
    .Statsmalls {
        width: 250px;
    }
    .statCardp5{
        width: 320px;
    }
}

.statCardSmall{
    width: 90%;
    height: 40%;
    border-radius: 15px;
    margin: 5px;

    background: #5B86E5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}




.statCard {
  background: var(--primaryBackgroundColor);
  border-radius: 15px;
  margin: 15px;
  width: 400px;
  height: 320px;
}

.statLabel {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: var(--primaryTextColor);
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.statCardLarge{
    background: var(--primaryBackgroundColor);
    border-radius: 15px;
    margin: 15px;
    width: 100%;
    height: 370px;
    
}


.statcardTextmain{
    font-size: 35px;
}

.canvasContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}