.nav {
  width: 290px;
  height: 90vh;
  top: 10vh;
  background: white;
  position: fixed;

}
.navMobile {
  position: fixed;
  top: 10vh;
  width: 290px;
  height: 90vh;
  background: white;
  -webkit-box-shadow: 9px 7px 15px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 9px 7px 15px 0px rgba(0, 0, 0, 0.42);
}
.nav_menu {
  visibility: hidden;
}
.nav_close {
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  .nav {
    margin-left: -290px;
  }
  .nav > .nav_menu {
    visibility: visible;
    display: block;

    margin-left: 300px;
    margin-top: -9vh;
  }
  .navMobile > .nav_close {
    visibility: visible;
    display: block;

    margin-left: 200px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 850px) {
  .navMobile {
    box-shadow: none;
  }
}

.sidebar{

  font-size: 18px;
  font-weight: 500;

}

.sidebar a {
  text-decoration: none;
}

.sidebar .sub-title {
  color: #6d97f0;
  padding-top: 1.5em;
  font-weight: bold;
  padding-left: 30px;
}

.sidebar .sub-titleFirst{
margin-top: -50px;
}

.sidebar .option {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  margin-top: 12px;
  padding-left: 30px;
}

.sidebar .nav_text {
  padding-left: 0.5em;

  color: black;
}

.sidebar .nav_text:hover {
  color: #01d1ff;
}
