.nav {
  width: 290px;
  height: 90vh;
  top: 10vh;
  background: goldenrod;
  position: fixed;
}
.navMobile {
  position: fixed;
  top: 10vh;
  width: 290px;
  height: 90vh;
  background: goldenrod;
  -webkit-box-shadow: 9px 7px 15px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 9px 7px 15px 0px rgba(0, 0, 0, 0.42);
}
.nav_menu {
  visibility: hidden;
}
.nav_close {
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  .nav {
    margin-left: -290px;
  }
  .nav > .nav_menu {
    visibility: visible;
    display: block;

    margin-left: 300px;
    margin-top: -9vh;
  }
  .navMobile > .nav_close {
    visibility: visible;
    display: block;

    margin-left: 240px;
    margin-top: 5px;
  }
}



@media only screen and (min-width: 850px) {

  .navMobile {
    box-shadow: none;
  }
}

