* {
  font-size: 22px;
}

body {
  background-color: #ececed;
  font-family: "Quicksand";
  font-size: 15px;
  font-weight: bold;
}
.allDevices {
  /*Ryan Baird*/
  background-color: white;
  border-radius: 30px;
  position: absolute;

  width: 77.5%;
  top: 35%;
  left: 20%;
}

@media only screen and (min-width: 850px) {
  /* .allDevices {
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
	  } */
}

.header {
  /*Ryan Baird*/
  border-bottom: solid;
  border-color: #ececed;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.headerText {
  /*Ryan Baird*/
  padding-left: 20px;
}

.listOfDevices {
  /*Ryan Baird*/
  overflow-y: scroll;

  width: 100%;
  height: 70%;
}
.bottom {
  /*Ryan Baird*/
  width: 100%;
  height: 20%;

  text-align: center;
}
.button {
  /*Ryan Baird*/
  border-radius: 50px;
  border: none;

  width: 100px;
  height: 70px;
  line-height: 50%;

  background-color: #49d2ff;
  color: white;
  font-size: 50px;
}
.leftSide {
  width: 30%;
  height: 100%;
  padding-left: 2%;

  display: flex;
  justify-content: space-between;
}
.rightSide {
  width: 35%;
  height: 100%;
  padding-right: 2%;

  display: flex;
  justify-content: space-between;
}
.deviceHeader {
  color: #49d2ff;
  display: flex;
  justify-content: space-between;
}
.device {
  display: flex;
  justify-content: space-between;
}
.redText {
  color: #ef0000;
}
.greenText {
  color: #50c82a;
}
